<!DOCTYPE html>
<html lang="pt-br">
<html xlmns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionária</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand">Concessionária</p>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Categorias</a></li>
                    
                </ul>
            </nav>
            <div class="header-block">
                <div class="text">
                    <h2>O carro para você!</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, omnis.

                    </p>
                </div>
                <img src="img/car-header.png" alt="Carro">
            </div>
        </div>
    </header>
    <section class="catalog" id="catalog">
        <div class="content">
            <div class="title-wrapper-catalog">
                <p>Encontre o que você procura</p>
                <h3>Catalogo</h3>
            </div>
            <div class="filter-card">
                <input type="text" 
                class="search-input" 
                placeholder="encontre o seu favorito">
                <button class="search-button">Search</button>
            </div>
            <div class="card-wrapper">
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="img/car-card.png" alt="Carro">
                    <div class="card-content">
                        <h3>Audi Supra</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="content">
            <div class="title-wrapper-about">
                <p>Sobre nós</p>
                <h3>Sobre</h3>
            </div>
            <div class="about-content">
                <div class="left">
                    <img src="img/about.png" alt="about">
                </div>
                <div class="right">
                    <h3>Tecnologia e mobilidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ad sunt, tenetur alias debitis quaerat dolore reiciendis neque exercitationem totam provident. Aperiam non vero odio alias vel tempora consequatur hic totam dignissimos dolore culpa temporibus officia voluptatem nemo, facere illo, natus ipsa unde. Deserunt quam aut aliquid doloribus exercitationem dolorem tenetur? Error minus, voluptates quia ut temporibus at eaque alias nemo qui, numquam consectetur asperiores. Enim quos nobis sequi impedit? Dignissimos impedit inventore libero voluptatem voluptatum quidem culpa mollitia magnam excepturi fugiat a pariatur harum sed officiis, ut enim minima sequi qui! Animi sed ad, facere minus commodi neque omnis?</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="main">
            <div class="footer footer-links">
                <div class="footer-company">
                    <h4>Compania</h4>
                    <h6>Sobre</h6>
                    <h6>Contato</h6>
                </div>
                <div class="footer-rental">
                    <h4>Serviços</h4>
                    <h6>Dirija você mesmo</h6>
                    <h6>Escolha um motorista</h6>
                    <h6>Ajuda</h6>
                </div>
                <div class="footer-social">
                    <h4>Mantenha-se conectado</h4>
                    <div class="social-icons">
                        <img src="img/instagram.png" alt="instagram">
                        <img src="img/facebook.png" alt="facebook">
                    </div>
                </div>
                <div class="footer-contato">
                    <h4>Fale conosco</h4>
                    <h6>+55 55 999999999</h6>
                    <h6>contato@email.com</h6>
                    <h6>Nome da Rua, Sant'Ana do Livramento RS</h6>
                </div>
            </div>
        </div>
        <div class="last">Alan Matheus Rodriguez Araujo, 2022</div>
    </footer>
    
</body>
</html>